*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 34, 57);
}

.heading{
    text-align: center;
    color: white;
    padding: 20px;
}

.board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    width: 500px;
    height:500px;
    background-color: rgb(184, 184, 248);
    border-radius: 20px;
}

.grid-items{
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    height: 140px;
    width: 140px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(4, 28, 91);
    font-size: 90px;
    text-align: center;
    color:rgb(184, 184, 248);
    padding: auto;
}

.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    text-align: center;
    height: 300px;
    width: 350px;
    background-color: rgb(3, 34, 57);
    border: 5px solid  rgb(184, 184, 248);
    border-radius: 25px;
    font-size: 32px;
    color: white;
    line-height: 2;
    .contain{
        display: flex;
        justify-content: center;
    }
    .choose{
        height: 100px;
        width: 100px;
        background-color:white;
        color: rgb(4, 28, 91);
        text-align: center;
        font-size: 24px;
        margin: 10px; 
        border-radius: 10px;
    }
    button{
        height: 40px;
        width: 120px;
        font-size: 20px;
        color: rgb(4, 28, 91);
        background-color: white ;
        border-radius: 10px;
        cursor: pointer;
    }

    button:active{
        background-color: rgb(121, 187, 241);
    }
}

.win{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: rgb(184, 184, 248);
    border-radius: 25px;
    font-size: 32px;
    color: rgb(4, 28, 91);
    line-height: 2;
    img{
        height: 200px;
        width: 200px;
    }
    button{
        padding: 10px;
        height: 40px;
        width: 100px;
        font-size: 20px;
        text-align: center;
        color: white;
        background-color: rgb(4, 28, 91);;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

}